$gradient:linear-gradient(90deg, rgba(211,16,39,.8) 100%, rgba(234,56,77,.8) 100%);
$gradient-solid:linear-gradient(90deg, rgba(211,16,39,1) 100%, rgba(234,56,77,1) 100%);
$skew-gradient:linear-gradient(190deg, rgba(26, 148, 11, .8) 50%, rgba(211, 105, 16, .8) 0);
$green-gradient:linear-gradient(#0a9751, #06831b);
$main:#D31027;
$secondary:#C0001A;
$dark:#222;
$dark-2:#232328;
$gray:#777;
$gray-2:#ddd;
$green:#06831B;
$white:#fff;